.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--color-fg);
  background-color: var(--color-bg);

  .navbar__item {
    display: flex;
    align-items: center;
    --_offset: 0.2rem;
    padding: 0.3rem 0.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }

  .navbar__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar__dropdown {
    position: relative;
    cursor: pointer;
  }

  .navbar__dropdown-list {
    display: none;
    position: absolute;
    background-color: var(--color-bg);
    list-style: none;
    text-decoration: none;
    padding: 0.5rem;
    min-width: 150px;
    top: 100%;
    left: 0;
  }

  .navbar__dropdown:hover .navbar__dropdown-list {
    display: flex;
    flex-direction: column;
  }

  @media (width: 40rem) {
    .navbar__item {
      padding: 0.5rem 1rem;
    }

    .navbar__list {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
}
