.grid-view {
  background-color: var(--color-black);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 220px;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory;
  gap: 1.5rem;
  padding: 2rem;
  scrollbar-width: none;
}

.categories-view {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem 0;
}

.movie-category__title {
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 300;
  padding-left: 1.5rem;
}

.movie-category {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media (width > 40rem) {
  .grid-view {
    grid-auto-columns: 220px;
    gap: 1rem;
    padding: 1rem 2rem;
  }

  .movie-category__title {
    font-size: 1.5rem;
  }
}

.detail-view {
  display: block;
  padding: 0;
  width: 100%;
}

.profiles-view {
  display: flex;
  flex-direction: column;
  background: var(--color-black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}
