<div class="movieDetail">
  <div class="movieDetail__poster">
    <img class="movieDetail__img" src="../server/images/{{image}}" alt="Affiche du film {{name}}">
  </div>
  <div class="movieDetail__info">
    <h1 class="movieDetail__title">{{name}}</h1>
    <p class="movieDetail__director"> {{director}}</p>
    <p class="movieDetail__year"> {{year}}</p>
    <p class="movieDetail__length"> {{length}}</p>
    <p class="movieDetail__age"> {{min_age}}</p>
    <p class="movieDetail__category"> {{category}}</p>
    <p class="movieDetail__description">{{description}}</p>
    <div class="movieDetail__trailer">
      <iframe src="{{trailer}}"></iframe>
    </div>
  </div>
</div>