.profiles-view {
  background: var(--color-black);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.profile:hover {
  transform: scale(1.1);
}

.profile__avatar {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 15%;
  border: 5px solid transparent;
  transition: border 0.2s;
}

.profile:hover .profile__avatar {
  border: 5px solid var(--color-accent-blue);
}

.profile:hover .profile__name {
  color: var(--color-accent-blue);
}

.profile__name {
  font-family: var(--ff-sans);
  color: var(--color-white);
  font-size: 1rem;
  text-align: center;
}
